// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300|Cabin:500,700|Lato');


// Color Variables
$primary-color: #3E50B4;
$accent-color: #E38B44;
$dkgr: 73676F;
$ltgr: #AEAAA6;
$bk-drk: #291620;
$bk-lt: #963e30;
$white: white;
 $lt: #E0D7C5;

// Font Variables
$sfont: 'Roboto', sans serif;
$pfont: 'Cabin', sans serif;
$hfont: 'Cabin', san serif;
$lato: 'Lato', san serif;


//Element Styles
html {
    background: linear-gradient($bk-drk, $bk-lt, $bk-drk);
}

body {
    margin: 0;
    margin-top: 0;
}

header {
    grid-row-start: 1;
    width: 100%;
    height: 100px;
    
}

footer {
    background-color: $bk-drk;
    grid-row-start: 3;
}

h1 {
    font-family: $pfont;
    text-align: left;
    font-size: 4em;
    color: $white;
    margin: 0.2em;
    margin-left: .5em;
}

h2 {
    font-family: $lato;
    margin: .2em .2em .2em .2em;
}

h3 {
    font-family: $sfont;
    margin: .2em .2em .2em .2em;
    text-align: center;
}

h4 {
    font-family: $sfont;
    margin: .2em .2em .2em .2em;
}

h5 {
    font-family: $sfont;
    margin: .2em .2em .2em .2em;
    align-self: center;
    justify-self: center;
}

//Grids
#site-grid {
    display: grid;
    grid-template-rows: 15% 70% 15%
}

#main-display {
    display: grid;
    grid-template-columns: 33% auto;
    grid-row-start: 2;
}

.block-wrapper {
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
    background-color: $white;
    border: 1px solid $dkgr;
    margin: .5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rest-name {
    grid-column-start: 1;
}
.rating-btn {
    grid-column-start: 2;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
}

.visited-date {
    grid-row-start: 2;
    grid-column-start: 1;
    align-self: start;
    justify-self: start;

}
//
#mySelect {
    width: 90%;
    height: 40px;
    margin-left: .5em;
    color: white;
    align-content: center;
    font-size: 1.5em;
    font-family: $pfont;
    background-color: $bk-drk;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-appearance: none;
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
}

#welcome-div h4 {
    color: white;
    margin: 1em;
}
// .city-wrapper {
//     background-color: white;
// }

// .city-btn {
//     background-color: white;
// }




